.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 10px;

  .item {
    border: 1px solid red;
    padding: 10px;
    width: 100%;
    min-height: 600px;
  }
}
